.library-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
  cursor: pointer;
  transition: 0.5s ease;

  &:hover {
    background-color: rgba(126, 155, 236, 0.842);
  }

  img {
    width: 80px;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
  }

  h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    font-size: 0.7rem;
  }
}
.active {
  background-color: rgba(126, 155, 236, 0.692);
}
