.nav {
  &-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    margin: 0 auto;
  }

  button {
    background-color: transparent;
    border: 2px solid rgb(61, 61, 61);
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    transition: 0.3s all;
    cursor: pointer;
    &:hover {
      background-color: black;
      border: 2px solid black;
      color: white;
    }
  }
}
@media screen and (max-width: 992px) {
  .nav-container {
    width: 70%;
  }
}
@media screen and (max-width: 768px) {
  .nav-container {
    width: 90%;
    & button {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 100;
    }
  }
}
